[Desktop Entry]
Name=Facility
Comment=Facility
Exec=/usr/bin/facility
Icon=/usr/lib/facility/facility.png
Terminal=false
Type=Application
Categories=Unknown
MimeType=
StartupWMClass=Facility
